
section.galleries{
    height: 100vh;
}

.grid-container {
    display: grid;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . ." ". . ." ". . .";
  }
  .grid-container > * {
    background-color: lightpink;
    width: 100%;


  }

  .grid-container p{
    content: "";
    background-color: lightpink;

    display: inline-block;
    /* width: 1px;
    height: 0; */
    padding-bottom: (calc 100%/ (1/1));

  }


  /* 48/27 = 1.77*/