@font-face{
  font-family: "majestiBanner";
  src: url("/styles/fonts/Majesti-Banner-Light.otf") format("opentype");
}
@font-face{
  font-family: "Futura";
  src: url("/styles/fonts/FuturaStd-CondensedBold.otf");
}


section.galleries{
    position: relative;
    padding-bottom: 56.25%;
 }



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .2% .2%;
    grid-template-areas: ". . ." ". . ." ". . .";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay{
    opacity: 0;
  }
  

.blog-posts{
  position: relative;
  overflow: hidden;
}

.blog-posts a{
  text-decoration: none;
  color: #373737; 
}


.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;

}

.full-background{
  position: absolute;
  top: 0;
  left: 0;
  outline: 3.6vw solid rgba(245, 242, 233, 1);
  outline-offset: -3vw;
  opacity: 08888;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 242, 233, 0.7);
}

.blog-posts:hover  .overlay{
  opacity: 1;
}

.text{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-direction: column;
  z-index: 1;
  opacity: 1;
}

.date{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: .6rem;
}

.name{
  font-size: 3.6rem;
  font-family: "majestiBanner";
  color: #373737;
}

.open{
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;

  font-family: "Futura";
  font-size: 1.1rem;
  letter-spacing: .66rem;
  text-transform: uppercase;
}

.gallery1{
  min-width: 100%;
}