@font-face{
  font-family: "majestiBanner";
  src: url("/styles/fonts/Majesti-Banner-Light.otf") format("opentype");
}



section.galleries{
    position: relative;
    padding-bottom: 56.25%;
 }



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . ." ". . ." ". . .";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay{
    background-color: khaki;
    opacity: 0;
  }
  

.blog-posts{
  position: relative;
  overflow: hidden;

}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.blog-posts:hover > .overlay{
  opacity: 1;
}

.blog-posts:hover > .gallery1{

  outline: 50px solid white;
  outline-offset: -50px;

}

.overlay > p{  
  position: absolute;
  bottom: 20px;
  font-size: 3.6rem;
  font-family: "majestiBanner";
  color: #373737;

  width: 100%;
  text-align: center;

}